$green-vogue: #002f52;
$different-blue: #326589;
$full-white: #ffffff;
$african-turquoise: #000000;
$satsuma: #eb9b00;
$black-mist: #474646;
$gunsmoke: #858585;
$christmas-white: #ebecee;

$color-brand-dark: $green-vogue;
$color-brand-light: $different-blue;
$color-background: $christmas-white;
$color-white: $full-white;
$color-border-light: $christmas-white;
