$fs-100: 14px;
$fs-200: 16px;
$fs-300: 18px;
$fs-400: 20px;
$fs-500: 24px;
$fs-600: 26px;
$fs-700: 30px;
$fs-800: 32px;
$fs-900: 36px;

// --- Font Weights  ---
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
