$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: 'fonts' !default;

$icon-Right-Arrow: '\e900';
$icon-Logo: '\e901';
$icon-Bag: '\e902';
$icon-Star: '\e900';
$icon-Avatar: '\e904';
$icon-Search: '\e905';
$icon-Left-Arrow: '\e906';
$icon-Email: '\e907';
$icon-favourite: '\e901';
