// --- Typography Families ---
$font-family-sans: 'Poppins', sans-serif;
$font-family-serif: 'Josefin Sans', sans-serif;

//bps
$break-point-large: 1729px;
$break-point-medium: 1025px;
$break-point-small: 431px;

$icomoon-font-family: 'icomoon';
$icomoon-font-path: '/assets/fonts';

// Dimensions
$header-height: 80px;
$hamburger-size: 80px;
$hamburger-line-width: 36px;
$hamburger-line-height: 4px;
$logo-height: 36px;
$icon-box-size: 38px;
$icon-size: 32px;
$mobile-fav-size: 24px;
