// --- Typography Families ---
$font-family-sans: 'Poppins', sans-serif;
$font-family-serif: 'Josefin Sans', sans-serif;

// --- Font Sizes ---
$fs-100: 14px;
$fs-200: 16px;
$fs-300: 18px;
$fs-400: 20px;
$fs-500: 24px;
$fs-600: 26px;
$fs-700: 30px;
$fs-800: 32px;
$fs-900: 36px;

//bps
$break-point-large: 1728px;
$break-point-medium: 1024px;
$break-point-small: 428px;

$icomoon-font-family: 'icomoon';
$icomoon-font-path: '/assets/fonts';
