// --- Typography Families ---
$font-family-sans: 'Poppins', sans-serif;
$font-family-serif: 'Josefin Sans', sans-serif;

//bps
$break-point-large: 1730px;
$break-point-medium: 1026px;
$break-point-small: 432px;

$icomoon-font-family: 'icomoon';
$icomoon-font-path: '/assets/fonts';

// Dimensions
$logo-height: 36px;
$icon-box-size: 38px;
$icon-size: 26px;
