// All colors
$green-vogue: #002f52;
$different-blue: #326589;
$full-white: #ffffff;
$african-turquoise: #000000;
$satsuma: #eb9b00;
$black-mist: #474646;
$gunsmoke: #858585;
$christmas-white: #ebecee;

// --- Typography Families ---
$font-family-sans: 'Poppins', sans-serif;
$font-family-serif: 'Josefin Sans', sans-serif;

// --- Font Weights  ---
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

// --- Font Sizes ---
$fs-100: 14px;
$fs-200: 16px;
$fs-300: 18px;
$fs-400: 20px;
$fs-500: 24px;
$fs-600: 26px;
$fs-700: 30px;
$fs-800: 32px;
$fs-900: 36px;

//bps
$bp-large: 1728;
$bp-tablet: 1024;
$bp-phone: 428;

$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: 'fonts' !default;

$icon-Right-Arrow: '\e900';
$icon-Logo: '\e901';
$icon-Bag: '\e902';
$icon-Star: '\e903';
$icon-Avatar: '\e904';
$icon-Search: '\e905';
$icon-Left-Arrow: '\e906';
$icon-Email: '\e907';
