// --- Typography Families ---
$font-family-sans: 'Poppins', sans-serif;
$font-family-serif: 'Josefin Sans', sans-serif;

//bps
$break-point-large: 1730px;
$break-point-medium: 1026px;
$break-point-small: 430px;

$icomoon-font-family: 'icomoon';
$icomoon-font-path: '/assets/fonts';

// Dimensions
$logo-size-lg: 40px;
$logo-size-md: 36px;
$icon-size-sm: 26px;

//box shadow
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
