body {
    font-family: $font-family-sans;
    font-size: $fs-400;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.heading-1 {
    font-weight: $weight-bold;
    font-size: $fs-900;
}

.heading-2 {
    font-weight: $weight-bold;
    font-size: $fs-800;
}

.heading-3 {
    font-weight: $weight-bold;
    font-size: $fs-700;

    @include respond-to('tablet') {
        font-size: rem($fs-600);
    }

    @include respond-to('desktop') {
        font-size: rem($fs-700);
    }
}

.heading-4 {
    font-weight: $weight-medium;
    font-size: $fs-600;
}

.heading-5 {
    font-weight: $weight-medium;
    font-size: $fs-500;
}

.heading-6 {
    font-weight: $weight-regular;
    font-size: $fs-400;
}

.text-body {
    margin-bottom: 1rem;
}

.text-small {
    font-size: $fs-300;
    font-weight: $weight-bold;

    @include respond-to('tablet') {
        font-size: rem(26);
    }

    @include respond-to('desktop') {
        font-size: rem(32);
    }
}

.text-detail {
    font-size: $fs-200;
    font-weight: $weight-light;
    color: $full-white;
}

.text-tiny {
    font-size: $fs-100;
    color: $full-white;
}
