body {
    font-family: $font-family-sans;
    font-size: $fs-400;
}

h1 {
    font-family: $font-family-sans;
    font-weight: $weight-bold;
    font-size: $fs-900;
}

h2 {
    font-family: $font-family-sans;
    font-weight: $weight-bold;
    font-size: $fs-800;
}

h3 {
    font-family: $font-family-sans;
    font-weight: $weight-bold;
    font-size: $fs-700;
}

h4 {
    font-family: $font-family-sans;
    font-weight: $weight-medium;
    font-size: $fs-600;
}

h5 {
    font-family: $font-family-sans;
    font-weight: $weight-medium;
    font-size: $fs-500;
}

h6 {
    font-family: $font-family-sans;
    font-weight: $weight-regular;
    font-size: $fs-400;
}

p {
    margin-bottom: 1rem;
}

.text-small {
    font-size: $fs-300;
}

small {
    font-size: $fs-200;
}

.tiny-text {
    font-size: $fs-100;
}
